
@{
    Layout = null;
}

<html class="no-js" lang="en">
<head>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/style.css">
    <title>The Climate Regisrty</title>
    <style>
        #home-section {
            background: url("../img/home.jpg");
            background-size: cover;
            background-attachment: fixed;
        }
    </style>
</head>
<body id="home">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <div class="container">
            <a href="index.html" class="navbar-brand">Climate Registry Information System (CRIS)</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

        </div>
    </nav>
    <!-- HOME SECTION -->
    <header id="home-section" >
        <div class="dark-overlay">
            <div class="home-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 d-none d-lg-block">
                            <h1 class="display-4">Instructions </h1>
                            <div class="d-flex flex-row" style="text-align: justify">
                                <p>
                                    Welcome to the Climate Registry Information System (CRIS), a web portal for accurate and transparent greenhouse gas (GHG) data. Please log in or create an account to access The Climate Registry (TCR) member’s public reports. GHG data is available at both the facility and organization levels.

                                    TCR is an independent non-profit that operates the preeminent voluntary GHG reporting program in North America. In the last 10 years, leading companies, universities, electric utilities and government agencies have used our program to register more than 1.8 billion tons of carbon dioxide equivalent (CO2e).

                                    TCR members use our best-practice reporting guidance to measure and report their carbon inventories. They can enter pre-calculated emissions data in CRIS, or use the built-in calculator to convert activity data into GHGs..
                                    <br /><br />
                                    For more information on TCR, and on how we can help you become a GHG leader, visit our website www.theclimateregistry.org or contact us at help@theclimateregistry.org. (866) 523-0764 ext. 3.

                                </p>
                            </div>

                        </div>
                        <div class="col-lg-4">
                            <div class="card bg-card text-center card-form">
                                <div class="card-body">
                                    <h3>Login</h3>
                                    <form>
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-lg" placeholder="Email">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-lg" placeholder="Password">
                                        </div>
                                        <div class="form-group">
                                            <a style="color: white" href="https://www.w3schools.com/html/">Forgot Password?</a>
                                        </div>
                                        <a href="~/Test/HomePage" class="btn btn-outline-light" role="button">Sign In</a>
                                        <a href="#" class="btn btn-outline-light" role="button">Sign Up</a>
                                      
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- MAIN FOOTER -->
    <footer id="main-footer" class="bg-footer">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="py-4">

                        <p>©2019 The Climate Registry • 600 Wilshire Blvd., Suite 970, Los Angeles, CA 90017 • (866) 523-0764	Version #: 1.0.7187.24373</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
</body>
</html>
